/* Menu */

#menu {
	height: 65px;
	margin: 0 auto;
	background-color:#000000;
	color:#FFFFFF;
}

#menu ul {
	margin: 0;
	padding: 7px 0 0 0;
}

#menu li {
	display: inline;
}

#menu a {
	padding-right: 25px;
	text-decoration: none;
	letter-spacing: -1px;
	font-size:20px;
	font-weight: bold;
	color:#FFFFFF;
}

#chooseAttr{
	padding-top:20px;
	padding-bottom:20px;
}

#chooseAttr ul {
	margin: 0;
	padding: 10px 0 0 0;
}

#chooseAttr li {
	display: inline;
	padding-right: 25px;
}

#chooseAttr input{
	height:18px;
}
