body {
  font-size: 16px;
  color: #0000ff;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #e0e0e0;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #00ffff;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000000;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
/* END HEADER */

/* Menu */

#menu {
	height: 65px;
	margin: 0 auto;
	background-color:#000000;
	color:#FFFFFF;
}

#menu ul {
	margin: 0;
	padding: 7px 0 0 0;
}

#menu li {
	display: inline;
}

#menu a {
	padding-right: 25px;
	text-decoration: none;
	letter-spacing: -1px;
	font-size:20px;
	font-weight: bold;
	color:#FFFFFF;
}

#chooseAttr{
	padding-top:20px;
	padding-bottom:20px;
}

#chooseAttr ul {
	margin: 0;
	padding: 10px 0 0 0;
}

#chooseAttr li {
	display: inline;
	padding-right: 25px;
}

#chooseAttr input{
	height:18px;
}
