body {
  font-size: 16px;
  color: #0000ff;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #e7e7e7;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #00ffff;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 5px;
  font-size: 15px;
}
#nav-list a {
  color: #000000;
  text-align: center;
}
#nav-list a:hover {
  background: #ffffff;
}
/* END HEADER */

/* Info */
#info {
	height: 50px;
	margin: 10px 0 0 0;
	background-color: #e7e7e7;
}
#info li {
	display: inline;
}
#info a {
	text-decoration: none;
	font-size: 18px;
  color: #000000;
}

#info a:hover {
  background: #ffffff;
}
/* END INFO */

/* MAIN CONTENT */
#main-content {
  width: 95%;
  background-color: #e7e7e7;
}
.container img {
  margin: 20px 10px 20px 10px;
  width: 600px;
  height: 400px;
}

#login form {
  display: inline;
  color: #000000;
  font-size: 15px;
}
#login p {
  font-size: 20px;
  color: #ff8000;
  text-align: center;
  margin: 30px 10px 30px 10px;
}

#search, #choose {
  padding: 20px 0px 20px 0px;
}
#attribute {
	margin: 20px;
	padding: 10px 10px 10px 10px;
}
#search input{
	height:18px;
}
#div-right{
	float:left;
}
