body {
  font-size: 16px;
  color: #0000ff;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #e7e7e7;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #00ffff;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 5px;
  font-size: 15px;
}
#nav-list a {
  color: #000000;
  text-align: center;
}
#nav-list a:hover {
  background: #ffffff;
}

/* END HEADER */

/* Menu */

#menu {
	height: 50px;
	margin: 10px 0 0 0;
	background-color: #e7e7e7;
	color: #000000;
}

#menu li {
	display: inline;
}

#menu a {
	text-decoration: none;
	font-size: 18px;
	color: #000000;
}

#menu a:hover {
  background: #ffffff;
}

#description {
  display: inline;
  color: #ff8000;
  font-size: 20px;
}

#chooseAttr{
	padding-top:20px;
	padding-bottom:20px;
	float:left;
}

#chooseAttr ul {
	margin: 0;
	padding: 10px 0 0 0;
}

#chooseAttr li {
	padding-right: 25px;
}

#chooseAttr input{
	height:18px;
}

#div-right{
	float:left;
}